<div class="about px-5 py-5">
    <div class="d-flex w-100 sec-head py-2">
        <h1 class="mx-auto header">
            About Me
        </h1>
    </div>
    <div class="row pt-4 px-0">
        <div class="col-sm-4 about-data rounded text-center py-3 mt-3 mx-0 nimated" data-aos="fade-right"
            data-aos-duration="600">
            <h1 class="sub-header py-1">Objectives</h1>
            <div class="px-3 text-left">
                <h3>
                    <i class="fa fa-info fa-lg mr-2" aria-hidden="true"></i>
                    Innovative Front End Developer, building and maintaining responsive websites.
                    Proficient in HTML, CSS, CSS3, Bootsrtrap4, Angular ; plus modern libraries and frameworks.
                    Passionate about usability and possess working knowledge of Adobe Photoshop.
                </h3>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="row rounded py-0 mt-3 pl-3 right-container" data-aos="fade-left">
                <div class="col w-100 h-100 rounded about-data text-center py-3 ">
                    <h1 class="sub-header py-1">
                        <i class="fa fa-graduation-cap mr-2" aria-hidden="true"></i>
                        Education</h1>
                    <div class="px-2 text-left grade">
                        <h2 class="d-inline">
                            Graduated from.:
                        </h2>
                        <h3 class="d-inline">Faculty of Engineering Kafr El-Sheikh University</h3>
                        <div>
                            <h2 class="d-inline">Department.: </h2>
                            <h3 class="d-inline">Computer and Control System.</h3>
                        </div>
                        <div>
                            <h2 class="d-inline">Graduation Project.: </h2>
                            <h3 class="d-inline">Handicap Assistance System.</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row rounded py-0 mt-3 pl-3 right-container">
                <div class="col w-100 h-100 rounded about-data text-center py-3" data-aos="fade-left">
                    <h1 class="sub-header py-1">
                        <i class="fa fa-tags mr-2" aria-hidden="true"></i>
                        Personal Data</h1>
                    <div class="px-2 text-left personal">
                        <div>
                            <h2 class="d-inline">Department.: </h2>
                            <h3 class="d-inline">Hadayek El-Maadi, Cairo, Egypt</h3>
                        </div>
                        <div>
                            <h2 class="d-inline">
                                Date - Place of birth.:
                            </h2>
                            <h3 class="d-inline">
                                22 April 1995 - Damanhour, Al-Beheira Governorate
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="icons" >
    <app-icons></app-icons>
</div>