.sec-head::before{
    position: absolute;
    content: "S";
    font-size: 7em;
    font-weight: bold;
    color: rgba(15,40,63, 0.7);
    left: 0;
    right: 0;
  }
  .header{
    position: relative;
    font-size: 2.5em;
    color: #eee;
    font-weight: 500;
    text-shadow: 2px 2px 2px #222;
  }
  .prof-skills{
      background-color: rgba(255, 255, 255, 0.05);
  }
  .prof-skills-header{
      color: #ddd;
  }
  .prof-skills-header h2:before{
    position: absolute;
    content: "";
    width: 4px;
    height: 100%;
    left: -2%;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #0F283F;
    border-radius: 2px;
  }