<div class="w-100 d-flex main-portfolio">
    <div class="w-100 mx-auto">
<mat-tab-group mat-align-tabs="center" dynamicHeight>
    <mat-tab>
        <ng-template mat-tab-label class="tab-label m-0 p-0 " >
            <p class="tab-label-content p-0 m-0" >All</p>
          </ng-template>
      <div class="example-small-box mat-elevation-z4">
        Small content
      </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label class="tab-label m-0 p-0 " >
            <p class="tab-label-content p-0 m-0" >Large Screen</p>
          </ng-template>
      <div class="example-large-box mat-elevation-z4">
        Big one
      </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label class="tab-label m-0 p-0 " >
            <p class="tab-label-content p-0 m-0">ipad Screen</p>
          </ng-template>
      <div class="example-small-box mat-elevation-z4">
        Third Content
      </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label class="tab-label m-0 p-0 " >
            <p class="tab-label-content p-0 m-0" >Phone Screen</p>
          </ng-template>
      <div class="example-small-box mat-elevation-z4">
        Small content
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
</div>