<div class="cover">
    <div class="d-flex w-100 h-100 px-5 py-4">
        <div class="mx-auto my-auto inner-section ">
            <h1 class="px-0" data-aos="fade-down" data-aos-duration="1000">
                <span class="d-block py-3">Discover my Amazing</span>
                <span class="d-block py-3">Art Space!</span>
            </h1>
            <div class="py-4">
                <app-text-animation></app-text-animation>
            </div>
            <div>
                <button class="btn px-3 py-2 mt-2 explore-btn" data-aos="fade-up" data-aos-duration="1000">
                    Explore More
                    <i class="fa fa-angle-double-right pl-2" (click)="viewSection()" aria-hidden="true"></i>
                </button>
            </div>
        </div>

    </div>
</div>
